.map-fight-wrapper {
    height: 100%;
}

.map-fight-wrapper {
    width: 100%;
    height: 100%;
    background: url(../img/backgrounds/home-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

.btn-out-fight {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
}

.skill-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 4px 10px 13px;
    background-image: url(../img/skills/skill-bar-bg.png);
    background-size: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    min-width: 309px;
    opacity: 1;
    visibility: visible;
    transition: 0.1s;
}

.skill-bar.inactive {
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}

.skill-item {
    margin: 0 2px;
}

.skill-item img {
    width: 70px;
    height: 70px;
}

.monster-panel {
    position: absolute;
    z-index: 3;
}

.moster-panel-enemy {
    top: 12%;
    left: 20px;
}

.moster-panel-self {
    bottom: 16%;
    right: 20px;
}

.wrap-monster.enemy,
.wrap-monster.ally {
    position: relative;
}

.wrap-monster.enemy {
    bottom: 50%;
    left: 320px;
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
}

.wrap-monster.ally {
    transform: scaleX(-1);
    position: absolute;
    bottom: 14%;
    left: 118px;
    z-index: 2;
    transform: translateX(-50%) scaleX(-1);
}

.wrap-monster.die {
    filter: invert(1);
    transition: 1s;
    opacity: 0;
}

.wrap-monster.inflictDamage .model-monster {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.show-damage {
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: 30px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    -webkit-background-clip: text;
    -webkit-text-stroke: 6px transparent;
    padding: 4px;
    opacity: 0;
    transition: 0.4s;
}

.show-damage.show {
    top: -20px;
    opacity: 1;
    transition: 0.4s;
}

.wrap-monster.ally .show-damage {
    transform: scaleX(-1);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#audio-skill {
    opacity: 0;
    visibility: hidden;
}
