.monster-enemy,
.monster-ally {
    position: relative;
}

.monster-enemy {
    bottom: 50%;
    left: 320px;
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
}

.monster-ally {
    transform: scaleX(-1);
    position: absolute;
    bottom: 14%;
    left: 118px;
    z-index: 2;
    transform: translateX(-50%) scaleX(-1);
}
